@import "./partial/Animazioni";
@import "./partial/Bottoni";
@import "./partial/Colori";
@import "./partial/Font";
@import "./partial/Mixins-generici";
@import "./partial/Reset";
@import "./partial/Spaziature";

header {
  font-family: $family;
  margin-bottom: 2rem;
  nav {
    display: flex;
    align-items: center;
    height: 70px;
    text-align: center;
    border-bottom: 2px solid $darkmagenta;
    margin-bottom: 1rem;
    div {
      display: flex;
      align-items: center;
      img {
        max-width: 50px;
      }
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
  div {
    color: white;
    display: flex;
    justify-content: space-between;
    div:first-child {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      h1 {
        margin: 0;
        @include title-big($h1);
        @include fade-in(3s, -15px, 0px, 2s, h1);
      }
      p {
        font-style: italic;
        margin-top: 0;
        @include fade-in(5s, 15px, 5px, 0s, p);
      }
      div {
        justify-content: start;
        button {
          @extend %hero-btn;
          @include fade-in(5s, 15px, 5px, 1.5s, button);
          &:hover {
            border: 2px solid white;
            color: white;
          }
        }
      }
    }
    div {
      img {
        height: 200px;
        @include floating(black);
        @include fade-in(4s, 15px, 5px, 2s, image);
      }
    }
  }
}

section {
  font-family: $family;
  background-color: $bisque;
  padding: 1.5rem;
  h2 {
    font-size: 30px;
    margin-top: 0;
  }
  .flex {
    display: flex;
    justify-content: space-between;
    > div {
      border: 2px solid gray;
      background-color: white;
      cursor: pointer;
      img {
        width: 150px;
        height: 100px;
        object-fit: cover;
        @include floating(none);
      }
      div {
        padding: 0.5rem;
      }
    }
  }
}

.prova {
  @include grid(10);
}
