$palette: (
  blue: #0e6cff,
  purple: #640fc5,
  orange: #ff8700,
  green: #4caf50,
);

@each $val, $c in $palette {
  .bc-#{$val} {
    background-color: $c;
  }
  .bc-#{$val}:hover {
    background-color: darken($color: $c, $amount: 20%);
    color: white;
  }
}

%hero-btn {
  font-family: inherit;
  display: inline-block;
  border: none;
  margin-right: 1rem;
  cursor: pointer;
  width: fit-content;
}
